<!DOCTYPE html>
<html lang="en"stylestyle="scroll-behavior:smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <script src="../jq/jquery.js" type="text/javascript"></script> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/utilities.css"> 
    <link rel="stylesheet" href="/css/style.css">
    <title>Helping Hand</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <nav>
                <ul>
                    <li><a id="first" href="/">Home</a></li>
                    <li><a id="second" href="/features">Need Help?</a></li>
                    <li><a id="third" href="/doc2">volunteer</a></li>
                    <li><a id="third" href="http://makeyourchat.c1.biz">Feeling Lonely?</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
    <!-- Showcase -->
    <section class="showcase">
        <div class="container grid">
            <div class="showcase-text">
                <h1>Helping Hand</h1>
            </div>

            <div id="form-display" class="showcase-form card">           
                <center>
                    <div style="margin:58px">
                        <span id="user" class="message">Hello, </span>
                        <div class="success"><span>Welcome to auth starter, You are successfully loged in!!!</span></div><br />
                        <button class="btn btn-danger" onclick="logout()">Logout</button>
                    </div>
                </center>

            </div>
        </div>
    </section>

    <!-- Stats -->
    <section class="stats">
        <div class="container">
            <h3 class="stats-heading text-center my-1">
                The purpose of life is not to be happy. It is to be useful, to be honorable, to be compassionate, to have it make some difference that you have lived and lived well. 
                       </h3>

            <div class="grid grid-3 text-center my-4">
                <div>
                    <i class="fas fa-server fa-3x"></i>
                    <h3>100</h3>
                    <p class="text-secondary">completed</p>
                </div>
                <div>
                    <i class="fas fa-upload fa-3x"></i>
                    <h3>987</h3>
                    <p class="text-secondary">Published</p>
                </div>
                <div>
                    <i class="fas fa-project-diagram fa-3x"></i>
                    <h3>500</h3>
                    <p class="text-secondary">Accepted</p>
                </div>
            </div>
        </div>
    </section>


    <section class="cloud bg-primary my-2 py-2">
        <div class="container grid">
            <div class="text-center">
                <h2 class="lg">ABOUT</h2>
                <p class="lead my-1">Helping Hand, tries to help elderly people whenever they need help. If you are looking for help, we will help you find out your Helping Hand.</p>
               
            </div>
              <img src="/images/hand.svg" alt="">
        </div>
    </section>

    <!-- images -->
    <section class="languages">
       
        <div class="container flex">
            <div class="card">
               
                    <img src="/images/img1.jfif" alt="">
            </div>
            <div class="card">
               
                <img src="/images/img2.jfif" alt="">
              </div>
             
        </div>
    </section>


    <!-- Footer -->
    <footer class="footer bg-dark py-5">
        <div class="container grid grid-3">
            <div>
                <h1>Helping Hand
                </h1>
                <p>Copyright &copy; 2021</p>
            </div>
            <nav>
                <ul>
             <li><a href="/index">Home</a></li>
                    <li><a href="/features">Need Help?</a></li>
                    <li><a href="/doc2">volunteer</a></li>
                </ul>
            </nav>
            <div class="social">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="#"><i class="fas fa-envelope fa-2x"></i></a>
            </div>
        </div>
    </footer>

    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
    <script src="/js/firebase.js"></script>   
    <script src="/js/index2.js"></script>
</body>
</html>